#El {
    border: 10px solid red;

    flex-wrap: nowrap;
     justify-content: center, space-evenly;
    align-items: stretch;
    flex-basis: 50%;
}

body {
    /* background-color: black; */
}

#Kabong {
    border: 10px solid blue;

    flex-wrap: nowrap;

    justify-content: center, space-evenly;
    align-items: stretch;
    flex-basis: 50%;


}

.tacos {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center, space-evenly;
    align-items: stretch;

}